button{
    background-color: #01443C;
    color: white;
}

h1{
    font-weight: 600;
}

body{
    padding: 30px;
}

mat-form-field{
    width: 500px !important;
}

.mat-dialog-actions{
    padding-top: 2%;
}