<app-navbar></app-navbar>

<div class="container" fxLayoutAlign="start stretch">
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
            <mat-list>
                <div mat-subheader>My drive</div>
                <mat-list-item (click)="openDrive()">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line>Drive</div>
                <div mat-line> Info del folder </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="openShared()">
                <mat-icon mat-list-icon>folder_shared</mat-icon>
                <div mat-line>Shared</div>
                <div mat-line> Info del folder </div>
                </mat-list-item>
            </mat-list>
        </mat-drawer>
        
        <mat-drawer-content>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </mat-drawer-content>
    </mat-drawer-container>
</div>