.mat-dialog-title{
    font-weight: 500;
    font-size: 35px;
}

body{
    padding: 20px;
}

.mat-dialog-actions{
    padding-top: 70px;
}

button{
    background-color: #01443C;
    color: white;
}

pre {
    white-space: pre-wrap;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-actions{
    padding-top: 2%;
}